.header {
    display: flex;
    align-items: center;
    padding: 20px 5%;
    background-color: #f8f9fa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    position: relative; 

    &__logo {
        display: flex;
        align-items: center;
        gap: 25px;

        img {
            width: 60px;
            height: auto;
            object-fit: contain;
        }

        h1 {
            font-family: 'Arial', sans-serif;
            font-size: 1.5rem;
            font-weight: bolder;
            color: #000000;
            margin: 0;
        }
    }

    &__checkbox {
        display: none;
    }

    /* hamburger */
    &__hamburger {
        display: none;
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
        z-index: 100; 

        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: #000000;
            border-radius: 2px;
            transition: all 0.3s ease-in-out; 
        }
    }

    &__nav {
        margin-left: auto;

        ul {
            display: flex;
            list-style: none;
            gap: 10px;

            li a {
                display: inline-block;
                padding: 10px 20px;
                text-decoration: none;
                color: #000000;
                border-radius: 4px;
                font-weight: bold;
                font-family: 'Arial', sans-serif;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: #000000;
                    color: #ffffff;
                }
            }
        }
    }

    //    Paramètres dédiés pour mobile

    @media (max-width: 768px) {
         h1 {
            font-size: 1rem;
            font-weight: bolder;
        }
        justify-content: space-between;

        &__hamburger {
            display: flex;
        }

        &__nav {
            display: none; 
            position: absolute;
            top: 100%; 
            left: 0;
            width: 100%;
            background-color: #f8f9fa;
            padding: 20px 0;
            box-shadow: 0 5px 10px rgba(0,0,0,0.1);
            z-index: 99; 

            ul {
                flex-direction: column; 
                align-items: center;
                gap: 15px;
            }
        }

        &__checkbox:checked ~ &__nav {
            display: block;
        }

        &__checkbox:checked ~ &__hamburger span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        &__checkbox:checked ~ &__hamburger span:nth-child(2) {
            opacity: 0;
        }

        &__checkbox:checked ~ &__hamburger span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}