$color-bg-light: #f8f9fa;
$color-white: #ffffff;
$color-black: #0a0a0a;
$color-text-main: #333333;
$color-text-muted: #666666;
$color-text-muted-light: #ededed;

$font-primary: 'Arial', sans-serif;

// responsive
$bp-mobile: 768px;
$bp-tablet: 1024px;